
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
}

body a {
    text-decoration: none;
    list-style: none;
} 

.logo-content>img{
    height: 60px;
    padding: 15px 0px ;
}

.logo-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-content>h1{
    color: #472f26;

}

nav>ul>li>a{
    text-decoration: none;
    color: #472f26ad;
}

nav>ul>li{
    list-style: none;
    display: flex;
    margin-left: 15px; 
    font-weight: 550;
    
}

nav>ul>li>a:hover{
    border-bottom: 1px solid #472f26;
}

nav>ul{
    display: flex;
}

nav>ul>li>i{
    padding: 0 1.1rem;
}

nav{
    /* border: 1px solid tomato; */
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-section{
    padding-bottom: 50px;
}

.hero-title{
    /* border: 1px solid gold; */
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #704b2f;
    color: white; 
    padding: .8rem  1.25rem;
}
.hero-title>a{
    border: 1px solid white;
    color: white;  
    padding: .8rem; 
    background: #472f26;
}

.hero-title>a>i{
    padding: 0 .6rem;
}

.hero-titlebar{
    /* color: black; */
    border-top: 1px solid white;
    
}

.hero-titlebar>ul{
    list-style: none;
    display: flex;
}

.hero-titlebar>ul>li {
    width: 233px;
    padding: 14px 16px;
    border-left: 1px solid white;
    background: #472f26; 
}   

.hero-titlebar>ul>li>a{
    color: white;  
    text-align: left;
    padding: 14px 16px;
    }

 .hero-titlebar>ul>li:first-child {
    border: none;
 }

 .hero-titlebar>ul>li:hover{
    background: #704b2f;
 }


.hero-body{

    height: 335px;
    background: url(Images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
}

.hero-text{
    margin-left: 150px;
    padding-top: 80px;
}

.hero-text>h2{
    margin-bottom: 1rem;
}
.hero-text>p{
    margin-bottom: 1.5rem;
}

.hero-text>.hero-btn-1{
    border: 1px solid #472f26;
    color: white;
    background:#472f26;
    padding: 5px 10px;
    width: fit-content;
    font-size: 1.1rem;
}
.hero-text>.hero-btn-2{
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    background: none;
    width: fit-content;
    font-size: 1.1rem;
}

.main-container{
    /* border: 1px solid tomato; */
    width: 988.25px ;
    height: 317px;
    padding-top: 40px;
}

.cards-content{
    display: flex;
    gap: 20px;
    padding-left: 2rem;
}
.card{
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    width: 329.41px;
    height: 277px; 
    margin-bottom: 15px;
}

.card>h3{
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    padding: 1rem 0;
}

.card>p{
    line-height: 25px;
}

.journal-information{
    /* border: 1px solid tomato; */
    background: white;
    color: black;
    /* padding: .8rem 1.25rem;  */
    margin-top: 2rem;
    margin-right: 2rem;
}

.informations{
    display: flex;
    gap: 1.5rem;
    line-height: 2rem;
    padding: .8rem 1.25rem; 
}
.info>p{
    color: rgba(0, 0, 0, 0.534);
    font-weight: 500;
}

.info>h4{
    font-weight: 500;
}
.info-img{
    width: 40px;
    height: 40px;
}

.info-title{
    /* border: 1px solid blueviolet; */
    align-items: center;
    display: flex;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.623);
    margin: .8rem 1.25rem;
}

.info-cards{
    /* border: 1px solid tomato; */
    padding: .6rem .8rem;
    background: #472f26;
    display: flex;
    align-items: center;
}

.info-cards>a{
    color: white;
    font-weight: 600;
    align-items: center;
    text-align: center;
    font-size: 17px;
    padding-left: 5px;
}

.info-cards>a>img{
    width: 20px;
    height: 20px;
    padding-top: 5px;
    margin-left: 15px; 
    transition: transform 0.3s ease;
    animation-name: info;
    animation-duration: 3s;
    animation-iteration-count: infinite; 

}

@keyframes info {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px); 
  }
  100% {
    transform: translateX(0);
  }
}

.important-information{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.171);
    transition: background-color 0.7s ease;
    /* border: 1px solid gold; */
}

.important-information>a{
    color: #704b2f;
    font-weight: 600;
    border-top: 1px solid white;
    padding: 14px 20px;
    margin-bottom: 0;
   
}

.important-information>a:hover{
    background-color: white;
}

