
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "IBM Plex Sans", sans-serif;
}
body a {
    text-decoration: none;
    list-style: none;
}

.logo-content>img{
    height: 60px;
    padding: 15px 0px ;
}

.logo-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-content>h1{
    color: #472f26;

}

nav>ul>li>a{
    text-decoration: none;
    padding-left: 15px;
    color: #472f26;
}

nav>ul>li{
    list-style: none;
    display: flex;
}

nav>ul{
    display: flex;
}

nav>ul>li>i{
    padding: 0 1.5rem;
}

nav{
    /* border: 1px solid tomato; */
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-section{
    padding-bottom: 50px;
}

.hero-title{
    /* border: 1px solid gold; */
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #704b2f;
    color: white;
    padding: .8rem  1.25rem;
}
.hero-title>a{
    border: 1px solid white;
    color: white;
    padding: .8rem; 
    background: #472f26;
}

.hero-title>a>i{
    padding: 0 .6rem;
}

.hero-titlebar{
    background: #472f26;
    border-top: 1px solid white;
    
}

.hero-titlebar>ul{
    list-style: none;
    display: flex;
    justify-content: space-around; 
}

.hero-titlebar>ul>li {
    width: 195.25px;
    padding: 14px 16px;
     border-left: 1px solid white;
}   

.hero-titlebar>ul>li>a{
    color: white;
    text-align: left;
    }

 .hero-titlebar>ul>li:first-child {
    border: none;
 }


.hero-body{

    height: 335px;
    background: url(Images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.hero-text{
    margin-left: 150px;
    padding-top: 80px;
}

.hero-text>h2{
    margin-bottom: 1rem;
}
.hero-text>p{
    margin-bottom: 1.5rem;
}

.hero-text>.hero-btn-1{
    border: 1px solid #472f26;
    color: white;
    background:#472f26;
    padding: 5px 10px;
    width: fit-content;
    font-size: 1.1rem;
}
.hero-text>.hero-btn-2{
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    background: none;
    width: fit-content;
    font-size: 1.1rem;
}

.main-container{
    /* border: 1px solid tomato; */
    width: 988.25px ;
    height: 317px;
    padding-top: 40px;
}

.cards-content{
    display: flex;
    gap: 20px;
    padding-left: 2rem;
}
.card{
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    width: 329.41px;
    height: 277px; 
    margin-bottom: 15px;
}

.card>h3{
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    padding: 15px 0;
}

.card>p{
    line-height: 25px;
}

